* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.box {
    width: 150px;
    height: 150px;
    background-color :dodgerblue;
    display: flex;
    margin: 10px;
}

.bg {
    background-color: teal;
}
.green {
    background-color: rgb(67, 204, 126);
}
.yellow {
    background-color: rgb(226, 172, 36);
}

.violet {
    background-color: rgb(196, 55, 196);
}

.bg h1 {
    padding: 0.5em;
    font-size: 6em;
    text-align: center;
    color: white;
}

.container {
    margin: 0 15em;
}

.item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}